version: '3.8'
services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app  # Позволяет менять код без пересборки (режим разработки)
      - ./data:/app/data  # Синхронизирует цитаты между компом и контейнером